<div class="container" id="tallys">
    <div class="row">
        <div class="alert alert-danger" ng-repeat="error in state.tally.Errors">
            <h2>{{error.Source}}</h2>

            <pre>{{error.Error}}</pre>
        </div>
    </div>

    <div class="row inputs">
        <table class="table">
            <thead>
                <tr>
                    <th>Tally #</th>
                    <th>Input</th>
                    <th>Output</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tally in state.tally.Tally | orderBy: 'ID'">
                    <td>
                        <div class="tally" ng-class="{'preview': tally.Preview, 'program': tally.Program, 'active': tally.Active}">
                            <a href="#/tally/{{tally.ID}}">{{tally.ID}}</a>
                        </div>
                    </td>
                    <td>
                        <div class="input" ng-repeat="input in tally.Inputs | orderBy: 'Name'">
                            <span class="pull-left label label-success" ng-if="input.Status == 'ok'"><span class="glyphicon glyphicon-ok" title="OK"></span></span>
                            <span class="pull-left label label-danger" ng-if="input.Status == 'bad'"><span class="glyphicon glyphicon-warning-sign" title="Bad"></span></span>

                            <span>{{input.Name}}</span>
                            <!-- {{input.Source}} -->
                        </div>
                    </td>
                    <td>
                        <div class="output" ng-repeat="output in tally.Outputs | orderBy: 'Name'"
                            ng-class="{'preview': output.Preview, 'program': output.Program, 'active': output.Active}"
                        >
                            {{output.Name}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
