[Unit]
Description=github.com/qmsk/e2 tally
After=network.target

[Service]
User=e2-tally
ExecStartPre=/opt/qmsk-e2/bin/gpio-export.sh 23 24 21 20 16 12 26 19 13 6
ExecStart=/opt/qmsk-e2/bin/tally \
    --discovery-interface=eth0 \
    --gpio --gpio-green-pin=23 --gpio-red-pin=24 \
    --gpio-tally-pin=21 --gpio-tally-pin=20 --gpio-tally-pin=16 --gpio-tally-pin=12 --gpio-tally-pin=26 --gpio-tally-pin=19 --gpio-tally-pin=13 --gpio-tally-pin=6 \
ExecStopPost=/opt/qmsk-e2/bin/gpio-unexport.sh 23 24 21 20 16 12 26 19 13 6

KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target


