<html lang="en" ng-app="e2presets">

<head>
	<meta charset="utf-8">

	<script src="/static/lib/jquery-1.11.2.min.js"></script>
	<script src="/static/lib/jquery-migrate-1.2.1.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/static/lib/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="/static/lib/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="/static/lib/bootstrap.min.js"></script>

	<script src="/static/lib/angular.min.js"></script>

	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<script src="/static/lib/ng-websocket.js"></script>

	<link rel="stylesheet" href="app.css">
	<script src="app.js"></script>

	<title>e2</title>
</head>

<body>

<div class="container-fluid" id="container" ng-controller="PresetsCtrl">

	<div id="header" class="navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				Encore2 Control
			</a>
		</div>

		<div class="navbar-collapse">
			<ul class="nav navbar-nav">

			</ul>
		</div>
	</div>

	<div id="tools">
		<button name="cut" id="cut" type="submit" ng-click="cut()">
			Cut
		</button>
		<button name="autotrans" id="autotrans" ng-click="autotrans()">
			Auto Trans
		</button>
	</div>

	<div id="presets" class="presets">
		<!-- ng-class="{'btn-success': preset == base.inPreview, 'btn-danger': preset == base.inPgm}" -->
		<div ng-repeat="group in data.groups">
			<h3 ng-if="group.presets.length > 0">{{group.title}}</h3>
			<button type="button"
					ng-repeat="preset in group.presets"
					ng-class="{'preview': data.presets[preset].preview, 'program': data.presets[preset].program, 'active': data.presets[preset].active}"
					ng-click="clickPreset(preset)">
				{{data.presets[preset].title}}
				<div ng-repeat="(dest, where) in data.presets[preset].destinations">
					<span class="inputDest"
					ng-class="{'txtPreview': where == 'preview', 'txtProgram': where == 'program', 'txtInactive': where == undefined}">
						{{dest}}
					</span>
				</div>
			</button>
		</div>

		<div id="status">
			<div ng-repeat="stat in status">{{stat.msg}} {{stat.data}}</div>
		</div>
	</div>

</div>

</body>

</html>
