<span class="pull-left label label-success" ng-if="source.SrcType == 'input' && input.InputCfgVideoStatus == 'ok'">
    <span class="glyphicon glyphicon-ok" title="OK"></span>
</span>
<span class="pull-left label label-danger" ng-if="source.SrcType == 'input' && input.InputCfgVideoStatus == 'bad'">
    <span class="glyphicon glyphicon-warning-sign" title="Bad"></span>
</span>
<span class="pull-left label label-info" ng-if="source.SrcType == 'dest'">
    <span class="glyphicon glyphicon-log-out" title="Screen"></span>
</span>
<span class="pull-left label label-primary" ng-if="source.SrcType == 'still'">
    <span class="glyphicon glyphicon-picture" title="Still"></span>
</span>

<span>{{source.Name}}</span>

<span class="label label-info pull-right resolution">{{{width: source.HSize, height: source.VSize}|dimensions}}</span>
