<html lang="en" ng-app="qmsk.e2">
    <head>
        <title>github.com/qmsk/e2</title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        
        <!-- jQuery -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Angular -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-websocket/angular-websocket.js"></script>
        <script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
        
        <!-- qmsk.e2 -->
        <link rel="stylesheet" href="qmsk.e2/app.css">
        <link rel="stylesheet" href="qmsk.e2/presets.css">

        <script src="qmsk.e2/source/source.js"></script>
        <script src="qmsk.e2/app.js"></script>
    </head>

    <body>
        <div id="header" class="navbar" ng-controller="HeaderCtrl" ng-class="{'live': status.mode == 'live', 'safe': status.mode == 'safe', 'error': state.error}">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        Encore2 Control
                    </a>
                </div>

                <ul class="nav navbar-nav">
                    <li ng-class="{'active': isActive('/sources')}">
                        <a href="#/sources">Sources</a>
                    </li>
                    <li ng-class="{'active': isActive('/screens')}">
                        <a href="#/screens">Screens</a>
                    </li>
                    <li ng-class="{'active': isActive('/auxes')}">
                        <a href="#/auxes">Auxes</a>
                    </li>
                    <li ng-class="{'active': isActive('/presets')}">
                        <a href="#/presets">Presets</a>
                    </li>
                </ul>

                <p class="navbar-text navbar-right state-error" ng-show="state.error">
                    <span class="glyphicon glyphicon-alert"></span>
                </p>

                <p class="navbar-text navbar-right" ng-if="status.mode == 'live'">
                    LIVE @ {{status.server}}
                </p>
                <p class="navbar-text navbar-right" ng-if="status.mode == 'safe'">
                    SAFE MODE @ {{status.server}}
                </p>
                <p class="navbar-text navbar-right" ng-show="state.busy">
                    <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                </p>
            </div>
        </div>

        <div id="view" ng-view></div>
            
        <div id="status" ng-controller="StatusCtrl" scroll-glue>
            <pre class="event-state">{{events.state}}</pre>
            <div class="state" ng-class="{'open': events.open, 'error': events.error}">
                WebSocket 
                <span ng-if="!events.open">Closed</span>
                <span ng-if="events.open">Open</span>
                <span ng-if="events.error">Error: {{events.error}}</span>
            </div>
        </div>
    </body>

</html>
