<html lang="en" ng-app="qmsk.e2">
    <head>
        <title>github.com/qmsk/e2</title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        
        <!-- jQuery -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Angular -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-websocket/angular-websocket.js"></script>
        
        <!-- qmsk.e2 -->
        <link rel="stylesheet" href="qmsk.e2/app.css">

        <script src="qmsk.e2/app.js"></script>
    </head>

    <body>
        <div id="header" class="navbar" ng-controller="HeaderCtrl" ng-class="{'safe': safe}">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        Encore2 Control
                    </a>
                </div>

                <ul class="nav navbar-nav">
                    <li ng-class="{'active': isActive('/screens')}">
                        <a href="#/screens">Screens</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text safe-mode" ng-if="safe">
                        SAFE MODE @ {{server}}
                    </li>
                    <li class="navbar-text live-mode" ng-if="!safe">
                        LIVE @ {{server}}
                    </li>
                </ul>
            </div>
        </div>

        <div id="view" ng-view></div>
            
        <div id="status">
            <div ng-repeat="stat in status">{{stat.msg}} {{stat.data}}</div>
        </div>
    </body>

</html>
