body {
    background-color: #aaa;
}

#header {
    margin: 0;
    background-color: #888888;
}

#header.live {
    background-color: #448844;
}
#header.safe {
    background-color: #aaaa44;
}
#header.error {
    background-color: #884444;
}

#header.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#header a {
    color: #000;
    font-size: x-large;
}

#header a:hover,
#header a:focus {
    background-color: #446644;
}

#header .active a {
    font-weight: bold;
}

#header .navbar-text.navbar-right {
    margin-right: 0px; /* override margin-right: -15px */
}

#header .live .navbar-text {
    color: #000000;
}

#header .safe .navbar-text {
     color: #444488;
}

#header .error .navbar-text {

}

#header .glyphicon {
    font-size: large;;
}

#header .glyphicon-alert {
    color: #ffffff;
}

/* View */
#view {
    padding: 0px;

    /* space for bottom status */
    margin-bottom: 5em;
}

#status {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5em;

    padding: 0.2em 0.5em;
    
    background-color: #0f0f0f;
    color: #44ff44;
    font-family: monospace;
    
    overflow: auto;
}

#status div {
    margin: 0;
}

#status .state {
    float: right;
    text-align: right;
    
    color: #888888;
}

#status .state.open {
    color: #88ff88;
}

#status .state.error {
    color: #ff4444;
}

/* XXX: customized styles */
table.table {
    
}

table.table thead {

}

table.table th {
    font-size: x-large;
    text-align: center;
}

table.table tbody tr {
    background-color: #ccc;
}

/* Content */
.source,
.screen,
.aux,
.preset {
    text-align: center; 

    margin: 1em;
    padding: 0.5em;

    background-color: #133337;
    color: #ffffff;
    
    border: 4px solid #133337;
    border-radius: 4px;
}

/* Fix glyphicon label vertical alignment with text */
.screen .label,
.source .label,
.aux .label,
.preset .label {
    font-size: inherit;
}

.inactive {
    background-color: #aaa;
    
    border: 4px solid #888;
    
    color: #444;
}

.preview {
    border: 4px solid #9f9;
    color: #9f9;
}

.program {
    border: 4px solid #f55;
    color: #f55;
}

#view .active {
    border-style: dotted;
}

/* Animated spinner
 *
 * http://chadkuehn.com/animated-font-spinners/
 */
.glyphicon-spin {
  animation: spin 1000ms infinite linear;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* System view */
#system {
    padding: 1em;
    background-color: #ddd;
}
