<html lang="en" ng-app="qmsk.e2">
    <head>
        <title>github.com/qmsk/e2</title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        
        <!-- jQuery -->
        <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">

        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <!-- Angular -->
        <script src="/static/bower_components/angular/angular.js"></script>
        <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/static/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/static/bower_components/angular-route/angular-route.js"></script>
        <script src="/static/bower_components/angular-websocket/dist/angular-websocket.js"></script>
        <script src="/static/bower_components/angular-scroll-glue/src/scrollglue.js"></script>
        <script src="/static/bower_components/json-formatter/dist/json-formatter.min.js"></script>

        <link rel="stylesheet" href="/static/bower_components/json-formatter/dist/json-formatter.min.css"></link>
        
        <!-- qmsk.e2 -->
        <link rel="stylesheet" href="/static/qmsk-e2.css">
        <link rel="stylesheet" href="/static/qmsk.e2/server.css">

        <script src="/static/qmsk.e2/source/source.js"></script>
        <script src="/static/qmsk.e2/console.js"></script>
        <script src="/static/qmsk.e2/web.js"></script>
        <script src="/static/qmsk.e2/server.js"></script>
        <script src="/static/qmsk.e2/status.js"></script>
    </head>

    <body>
        <div id="header" class="navbar" ng-controller="HeaderCtrl" ng-class="{'live': status.mode == 'live', 'safe': status.mode == 'safe', 'read': status.mode == 'read', 'error': httpState.error || events.error, 'closed': !events.open }">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        E2 Server
                    </a>
                </div>

                <ul class="nav navbar-nav">
                    <li ng-class="{'active': isActive('/sources')}">
                        <a href="#/sources">Sources</a>
                    </li>
                    <li ng-class="{'active': isActive('/screens')}">
                        <a href="#/screens">Screens</a>
                    </li>
                    <li ng-class="{'active': isActive('/auxes')}">
                        <a href="#/auxes">Auxes</a>
                    </li>
                    <li ng-class="{'active': isActive('/presets')}">
                        <a href="#/presets">Presets</a>
                    </li>
                    <li ng-class="{'active': isActive('/system')}">
                        <a href="#/system">System</a>
                    </li>
                </ul>

                <p class="navbar-text navbar-right state-error" ng-show="httpState.error">
                    <span class="glyphicon glyphicon-alert" title="API error"></span>
                </p>
                <p class="navbar-text navbar-right state-error" ng-show="events.error">
                    <span class="glyphicon glyphicon-alert" title="WebSocket error: {{events.error}}"></span>
                </p>
                <p class="navbar-text navbar-right state-error" ng-show="!events.open ">
                    <span class="glyphicon glyphicon-alert" title="WebSocket closed"></span>
                </p>
                <p class="navbar-text navbar-right state-success" ng-show="events.open">
                    <span class="glyphicon glyphicon-cloud-download" title="WebSocket open"></span>
                </p>

                <p class="navbar-text navbar-right" ng-if="status.mode == 'live'">
                    LIVE @ {{status.server}}
                </p>
                <p class="navbar-text navbar-right" ng-if="status.mode == 'safe'">
                    SAFE MODE @ {{status.server}}
                </p>
                <p class="navbar-text navbar-right" ng-if="status.mode == 'read'">
                    READ MODE @ {{status.server}}
                </p>
                <p class="navbar-text navbar-right" ng-show="httpState.busy">
                    <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
                </p>
            </div>
        </div>

        <div id="view" ng-view></div>

        <ng-include src="'/static/qmsk.e2/status.html'"></ng-include>
    </body>
</html>
