<div id="main">
    <table class="table">
        <thead>
            <tr>
                <th ng-click="selectOrder('source')">
                    Source
                    <span class="glyphicon glyphicon-chevron-down" ng-show="order == 'source'"></span>
                </th>
                <th ng-click="selectOrder('preview')">
                    Preview
                    <span class="glyphicon glyphicon-chevron-down" ng-show="order == 'preview'"></span>
                </th>
                <th ng-click="selectOrder('program')">
                    Program
                    <span class="glyphicon glyphicon-chevron-down" ng-show="order == 'program'"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="source in sources | orderBy:orderBy">
                <td>
                    <div class="source"
                         ng-class="{'preview': source.preview.length > 0, 'program': source.program.length > 0, 'active': source.active}"
                         e2-source source="source.source" input="source.input" detail="false"
                    ></div>
                </td>
                <td>
                    <div ng-repeat="output in source.preview" class="screen preview"
                                                              ng-class="{'active': output.active}">
                        {{output.name}}</div>
                </td>
                <td>
                    <div ng-repeat="output in source.program" class="screen program">{{output.name}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
