#presets {

}

#presets .group {
    margin-bottom: 0.5em;
}

#presets .title {
    background-color: #ccc;
}

#presets .title h3 {
    padding: 0.5em 1em;
    margin: 0;
}

#presets .title button {
    margin: 0.25em 0.5em;
    padding: 0.5em; 0.5em;
    border: none;
    float: right;
}

#presets .title button span {
    font-size: 24px; /* match h3 */
}

#presets .preset {
    width: 120px;
    height: 120px;
    margin: 1em;
    
    border-style: dashed;
}

#presets .preset.active {
    border-style: solid;
}

#presets button.empty {
    background-color: #aaa;
    
    border: 4px solid #888;
}

#presets button span.dest {
    font-style: italic;
    font-size: smaller;
    color: #444;
}

#presets button span.program {
    color: #f55;
}

#presets button span.preview {
    color: #9f9;
}

#presets button span.inactive {
    color: #444;
}

/* Tools */
#tools {
    background-color: #444;
    padding: 1em;

    z-index: 1000;
}

#tools button {
    width: 120px;
    height: 120px;

    background-color: #000000;
    border-radius: 4px;

    font-size: xx-large;
    font-weight: bold;
}

#tools button#take {
    color: #ff4000;
    border: 4px solid #ff4000;
}

#tools button#cut {
    color: #00ffff;
}

#tools button#autotrans {
    color: #ffff00;
}

/* Styles for Landscape screen */
@media all and (orientation:landscape) {
    #presets {
        margin-right: 20%;
    }

    #tools {
        position: fixed;
        top: 50px;  /* header */
        bottom: 5em; /* status */
        right: 0px;
        width: 20%;
    }

    #tools button {
        width: 100%;
        display: block;
        margin: 1em auto;
    }
}

/* Styles for Portrait screen */
@media all and (orientation:portrait) {
    #tools {
        width: 100%;
        height: 150px;
    }

    #tools button {
        display: inline;
        float: left;
        margin: 0.2em 0.5em;
    }
}
