<div id="presets" ng-class="{'display-small': displaySize == 'small', 'display-large': displaySize == 'large', 'autotake': autoTake }">
    <div id="tools">
        <div class="btn-group">
            <label class="btn btn-default" ng-model="groupBy" uib-btn-radio="'all'" ng-click="clearGroup()">All</label>
            <label class="btn btn-default" ng-model="groupBy" uib-btn-radio="'sno'" ng-click="clearGroup()">X.Y</label>
            <label class="btn btn-default" ng-model="groupBy" uib-btn-radio="'console'" ng-click="clearGroup()">PG</label>
        </div>

        <div class="btn-group">
            <label class="btn btn-default" ng-model="displaySize" uib-btn-radio="'small'">Small</label>
            <label class="btn btn-default" ng-model="displaySize" uib-btn-radio="'normal'">Normal</label>
            <label class="btn btn-default" ng-model="displaySize" uib-btn-radio="'large'">Large</label>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-class="autoTake ? 'btn-danger' : 'btn-default'" ng-model="autoTake" uib-btn-checkbox>Auto Take</button>
        </div>

        <button class="tool" name="take" id="take" type="submit" ng-click="take()" ng-show="!autoTake">
            Take
        </button>
        <button class="tool" name="cu" id="cut" ng-click="cut()">
            Cut
        </button>
        <button class="tool" name="autotrans" id="autotrans" ng-click="autotrans()">
            Auto Trans
        </button>

    </div>

    <div class="group" ng-repeat="group in groups | orderBy:'id'">
        <div class="title" ng-click="toggleGroup(group.id)" ng-if="group.id">
            <button type="button" ng-if="!showGroup">
                <span class="glyphicon" ng-class="collapseGroups[group.id] ? 'glyphicon-plus' : 'glyphicon-minus'"></span>
            </button>

            <a ng-click="selectGroup(group.id)">{{group.name}}</a>
        </div>

        <div ng-show="showGroup ? showGroup == group.id : !collapseGroups[group.id]">
            <button type="button" class="preset" ng-repeat="preset in group.presets | orderBy:'groupIndex' track by preset.groupIndex"
                                                 id="preset-{{preset.id}}"
                                                 ng-class="{'active': preset.id == activePresetID, 'preview': preset.id == previewPreset.id, 'program': preset.id == programPreset.id, 'other': preset.id != previewPreset.id && preset.id != programPreset.id  }"
                                                 ng-click="autoTake ? take(preset) : select(preset)"
             >
                {{preset.Name}}
            </button>
        </div>
    </div>
</div>
