<div id="presets">
    <div id="tools">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="selectGrouping('sno')" ng-class="{'btn-primary': groupBy == 'sno'}">
                X.Y
            </button>
            <button type="button" class="btn btn-default" ng-click="selectGrouping('console')" ng-class="{'btn-primary': groupBy == 'console'}">
                PG
            </button>
        </div>

        <button class="tool" name="take" id="take" type="submit" ng-click="take()">
            Take
        </button>
    <!--
        <button name="autotrans" id="autotrans" ng-click="autotrans()">
            Auto Trans
        </button>
    -->

    </div>

    <div class="group" ng-repeat="group in groups | orderBy:'id'">
        <div class="title" ng-click="collapseGroups[group.id] = !collapseGroups[group.id]">
            <button type="button">
                <span class="glyphicon" ng-class="collapseGroups[group.id] ? 'glyphicon-plus' : 'glyphicon-minus'"></span>
            </button>

            <h3>&nbsp; {{group.name}}</h3>
        </div>

        <div ng-show="!collapseGroups[group.id]">
            <button type="button" class="preset" ng-repeat="preset in group.presets | orderBy:'groupIndex' track by preset.groupIndex"
                                                 id="preset-{{preset.id}}"
                                                 ng-class="{'active': preset.id == activePresetID, 'preview': preset.id == previewPreset.id, 'program': preset.id == programPreset.id, 'other': preset.id != previewPreset.id && preset.id != programPreset.id  }"
                                                 ng-click="select(preset)"
             >
                {{preset.Name}}
        
                <div ng-repeat="id in preset.auxes">
                    <span class="dest">{{state.System.DestMgr.AuxDestCol[id].Name}}</span>
                </div>
                <div ng-repeat="id in preset.screens">
                    <span class="dest">{{state.System.DestMgr.ScreenDestCol[id].Name}}</span>
                </div>
            </button>
        </div>
    </div>
<!--
            <button type="button" class="preset"
                    ng-repeat="preset in group.presets"
                    ng-class="{'preview': data.presets[preset].preview, 'program': data.presets[preset].program, 'active': data.presets[preset].active}"
                    ng-click="clickPreset(preset)">
                {{data.presets[preset].title}}
                <div ng-repeat="(dest, where) in data.presets[preset].destinations">
                    <span class="destination"
                    ng-class="{'preview': where == 'preview', 'program': where == 'program', 'inactive': where == undefined}">
                        {{dest}}
                    </span>
                </div>
            </button>
-->
</div>
