button {
    width: 150px;
    height: 150px;
    margin: 1em;

    border: none;
    border-radius: 4px;
}

#container {
    background-color: #aaa;
}

#header {
    background-color: #888;
}

#presets {

}

#presets button {
    margin: 1em;
}

#presets button.preview {
    border: 4px solid green;
}

#presets button.program {
    border: 4px solid red;
}

#tools {
    background-color: #888;
}

#tools button {
    display: block;
    margin: 1em auto;
}

#status {
    background-color: #ddd;
    clear: both;

    padding: 1em;
}
