button {
    width: 150px;
    height: 150px;
    margin: 1em;
}

#container {
    background-color: #aaa;
}

#header {
    background-color: #888;
}

#presets {

}

#presets button {
    margin: 1em;
}

#tools {
    background-color: #888;
}

#tools button {
    display: block;
    margin: 1em auto;
}

#status {
    background-color: #ddd;
    clear: both;

    padding: 1em;
}
