<div id="presets">
    <!--
    <div id="tools">
        <button name="cut" id="cut" type="submit" ng-click="cut()">
            Cut
        </button>
        <button name="autotrans" id="autotrans" ng-click="autotrans()">
            Auto Trans
        </button>
    </div>
    -->

    <div class="group" ng-repeat="group in groups">
        <div class="title" ng-click="collapseGroups[group.id] = !collapseGroups[group.id]">
            <button type="button">
                <span class="glyphicon" ng-class="collapseGroups[group.id] ? 'glyphicon-plus' : 'glyphicon-minus'"></span>
            </button>

            <h3>{{group.id}}</h3>
        </div>

        <div ng-show="!collapseGroups[group.id]">
            <button type="button" class="preset" ng-repeat="preset in group.presets">
                {{preset.name}}

                <div ng-repeat="aux_id in preset.auxe">
                    <span class="dest">{{auxes[aux_id].name}}</span>
                </div>
                <div ng-repeat="screen_id in preset.screens">
                    <span class="dest">{{screens[screen_id].name}}</span>
                </div>
            </button>
        </div>
    </div>
<!--
            <button type="button" class="preset"
                    ng-repeat="preset in group.presets"
                    ng-class="{'preview': data.presets[preset].preview, 'program': data.presets[preset].program, 'active': data.presets[preset].active}"
                    ng-click="clickPreset(preset)">
                {{data.presets[preset].title}}
                <div ng-repeat="(dest, where) in data.presets[preset].destinations">
                    <span class="destination"
                    ng-class="{'preview': where == 'preview', 'program': where == 'program', 'inactive': where == undefined}">
                        {{dest}}
                    </span>
                </div>
            </button>
-->
</div>
