/* System view */
#system {
    padding: 1em;
    background-color: #ddd;
}

/* Preset view */
#presets {

}

#presets .group {
    margin-bottom: 0.5em;
}

#presets .title {
    background-color: #ccc;
}

#presets .title a {
    display: block;
    padding: 0.25em 1em;
    color: inherit;
    font-size: 24px;
}

#presets .title button {
    display: block;
    margin: 0.25em 0.5em;
    padding: 0.5em; 0.5em;
    border: none;
    float: right;
}

#presets .title button span {
    font-size: 24px; /* match h3 */
}

#presets .preset {
    width: 120px;
    height: 120px;
    margin: 1em;
    
    border-style: dashed;
}

#presets.autotake .preset {
    background-color: #ff4000;
    border-color: #ff4000;

    color: #ffffff;
}

#presets.autotake .preset.program {
    border-color: #133337;
}

#presets.display-small .preset {
    width: 80px;
    height: 80px;
    margin: 0.25em;
}

#presets.display-large .preset {
    width: 240px;
    height: 240px;
    margin: 1em;
}

#presets .preset.active {
    border-style: solid;
}

#presets .preset.other.active {
    border: 4px solid #eee;
}

#presets button.empty {
    background-color: #aaa;
    
    border: 4px solid #888;
}

/* Doesn't fit */
#presets.display-small span.dest {
    display: none;
}

/* Tools */
#tools {
    background-color: #444;
    padding: 1em;

    z-index: 1000;
}

#tools .btn-group {
    margin: 0.5em auto;
}

#tools .btn-default {
    background-color: #aaa;
    color: #133337;
}

#tools .btn-default.active {
    background-color: #133337;
    color: #ffffff;
}

#tools button.tool {
    width: 120px;
    height: 120px;

    background-color: #000000;
    border-radius: 4px;

    font-size: xx-large;
    font-weight: bold;
}

#tools button#take {
    color: #ff4000;
    border: 4px solid #ff4000;
}

#tools button#cut {
    color: #00ffff;
}

#tools button#autotrans {
    color: #ffff00;
}

/* Styles for Landscape screen */
@media all and (orientation:landscape) {
    #presets {
        margin-right: 20%;
    }

    #tools {
        position: fixed;
        top: 50px;  /* header */
        bottom: 5em; /* status */
        right: 0px;
        width: 20%;
    }

    #tools button.tool {
        width: 100%;
        display: block;
        margin: 1em auto;
    }
}

/* Styles for Portrait screen */
@media all and (orientation:portrait) {
    #tools {
        width: 100%;
        height: 150px;
    }

    #tools button.tool {
        display: inline;
        float: left;
        margin: 0.2em 0.5em;
    }
}
