<div class="container" id="tally">
    <div class="row">
        <div class="alert alert-danger" ng-repeat="error in tally.Errors">
            <h2>{{error.Source}}</h2>

            <pre>{{error.Error}}</pre>
        </div>
    </div>

    <div class="row inputs">
        <table class="table">
            <thead>
                <tr>
                    <th>Tally #</th>
                    <th>Input</th>
                    <th>Output</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tally in tally.Tally | orderBy: 'ID'">
                    <td>
                        <div class="preset" ng-class="{'preview': tally.Preview, 'program': tally.Program}">
                            {{tally.ID}}
                        </div>
                    </td>
                    <td>
                        <div class="source" ng-repeat="input in tally.Inputs | orderBy: 'Name'">
                            {{input.Name}}
                            <!-- {{input.Source}} -->
                        </div>
                    </td>
                    <td>
                        <div class="screen" ng-repeat="output in tally.Outputs | orderBy: 'Name'" ng-class="{'preview': output.Preview, 'program': output.Program}">
                            {{output.Name}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
