.tally-source {
    text-align: left !important;
}

.tally-source h1 {
    text-align: center;
}

.tally a {
    color: inherit;
    display: block;
}

#tally .tally {
    font-size: 200%;
}

#tally .tally .id {
    font-size: 500%;
}

/* Extra text */
.tally p {
    font-style: italic;

    border: none;
}

.tally p.input {
    color: #eee;
}

.tally p.output {
    color: #444;
}

.tally p.program,
.tally p.preview.program {
    color: #f55;

    border: none;
}

.tally p.preview {
    color: #9f9;
}

.tally p.inactive {
    color: #444;
}
